<div class="{{wrapperClassName}}">
    {{#if label}}
        <label class="{{labelClassName}}" for="{{name}}">{{label}}</label>
    {{/if}}
    <input class="{{className}}" type="{{inputType}}" id="{{id}}" name="{{name}}" value="{{value}}" accept="{{accept}}" required />

</div>
