<div class="{{wrapperClassName}}">
    <label class="{{labelClassName}}" for="{{name}}">{{label}}</label>
    <input class="{{className}}" type="{{inputType}}" id="{{id}}" name="{{name}}" value="{{value}}" required />
</div>