<main class="profile">
  <aside class="profile__sidebar">
    <div class="profile__sidebar-icon">
        <div data-slot="returnButton"></div>
    </div>
  </aside>

  <section class="profile__content profile-content">
    <div class="profile-content__header">
        <div class="profile-content__icon">
          <img src="{{avatar}}" alt="" width="100%" height="100%">
        </div>
        <h3 class="profile-content__title">{{login}}</h3>
    </div>
    
    <div class="profile-content__info">
        <div class="profile-content__row">
          <span class="profile-content__label">Почта</span>
          <span class="profile-content__value">{{email}}</span>
        </div>
        <div class="profile-content__row">
          <span class="profile-content__label">Логин</span>
          <span class="profile-content__value">{{login}}</span>
        </div>
        <div class="profile-content__row">
          <span class="profile-content__label">Имя</span>
          <span class="profile-content__value">{{first_name}}</span>
        </div>
        <div class="profile-content__row">
          <span class="profile-content__label">Фамилия</span>
          <span class="profile-content__value">{{last_name}}</span>
        </div>
        <div class="profile-content__row">
          <span class="profile-content__label">Имя в чате</span>
          <span class="profile-content__value">{{display_name}}</span>
        </div>
        <div class="profile-content__row">
          <span class="profile-content__label">Телефон</span>
          <span class="profile-content__value">+{{phone}}</span>
        </div>
    </div>
    <div class="profile-content__actions">
        <div class="profile-content__row">
          <div data-slot="editButton"></div>
        </div>
        <div class="profile-content__row">
          <div data-slot="logoutButton"></div>
        </div>
    </div>
  </section>
</main>
