<main class="messenger-page">
  <aside class="messenger-page__sidebar sidebar">
    <div class="sidebar__header">
      <a href="/profile" class="sidebar__profile-link">Профиль</a>
      <input type="text" class="sidebar__search-input" placeholder="Поиск" name="search" />
    </div>
    <div>
      <ul class="messenger-page__chats-list">
        {{{chatsList}}}
      </ul>
    </div>
  </aside>

  <section class="messenger-page__chat-content">
    <header class="messenger-page__chat-header">
      <h3 class="messenger-page__chat-title">{{activeChatTitle}}</h3>
    </header>

    <div class="messenger-page__messages">
      {{#each messages}}
        {{#if this.isOutgoing}}
          <div class="messenger-page__message-outgoing">{{this.text}}</div>
        {{else}}
          <div class="messenger-page__message-incoming">{{this.text}}</div>
        {{/if}}
      {{/each}}
    </div>

    <form class="messenger-page__input-form message-input-form" id="chat-message-form">
      <div class="message-input-form__icon">
        <img src="AttachFileRounded.svg" width="32" height="32" alt="files">
      </div>
      <div class="message-input-form__wrapper-input" >
        <div data-slot="messageInput"></div>
      </div>

      <div data-slot="sendButton"></div>
    </form>
  </section>
</main>