<div class="chat-users-modal hidden">
  <div class="chat-users-modal__body">
    <div class="chat-users-modal__header">
      <h2>Участники чата</h2>
      <button id="closeChatUsersModal" class="chat-users-modal__close">&times;</button>
    </div>
    <div class="chat-users-modal__content" id="chatUsersList">
      {{#if users}}
        {{#each users}}
          <div class="chat-users-modal__user">
            <span>{{this.first_name}} {{this.second_name}} ({{this.login}})</span>
            <button class="remove-user-btn" data-user-id="{{this.id}}">Удалить</button>
          </div>
        {{/each}}
      {{else}}
        <p>Нет пользователей</p>
      {{/if}}
    </div>
  </div>
</div>
